.medication {
  background-image: url("../../images/pill.gif");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position-x: 0.75rem;
  background-position-y: -0.25rem;
}

.medicationExpanded {
  background-image: url("../../images/pillExpand.png");
  background-size: 50px;
  background-position-x: center;
  background-position-y: 2rem;
}


@media  (min-width:1167px) {
  .medicationTitle {
    margin-left: 30px;
  }
  }