@font-face {
  font-family: "Akzidenz";
  src: local("Akzidenz"),
    url(./fonts/Akzidenz-grotesk-bold.ttf) format("truetype");
}

@font-face {
  font-family: "Akzidenz-Light";
  src: local("Akzidenz-Light"),
    url(./fonts/Akzidenz-grotesk-light.ttf) format("truetype");
}

body {
  font-family: "Akzidenz", sans-serif;
  position: relative;
  overflow: auto;
  /* background-color: #f8f8ff; */
  /* z-index: -2; */
}

.footerFriend {
  min-height: calc(100vh - 190px);
  height: fit-content;
}

.mainContainer {
  max-width: 90%;
  margin: auto;
  margin-top: 40px;
}

.componentContainer {
  display: flexbox;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  border-radius: 20px;
  min-height: 60px;
  min-width: 200px;
  position: relative;
  padding: 0;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #9c56f3;
  right: 1.125em;
  z-index: 4;
}

.clockImage {
  max-height: "20px";
  max-width: "20px";
  position: "relative";
  top: "5px";
}

button > span {
  pointer-events: none;
} 
