.addMedInput {
  border: "none" !important;
  box-shadow: "none" !important;
  border-radius: "0px";
  border-style: "none";
}

.addMedField {
  border-bottom-color: "black";
  border-bottom: "2px";
  border-bottom-style: "solid";
}
