.minus-button {
  background: white;
}

.button-medication {
  background: #f9f9f9;
}

.arrow-back-button {
  background: transparent;
  width: 30px;
  height: 20px;
  padding-top: 3px;
}

.minus-button:focus-visible {
  outline: 4px solid darkorange;
  outline-offset: -4px;
  border-radius: 4px;
  box-shadow: 0 0 0 0;
  z-index: 99;
}

.minus-button:hover {
  background: #eee;
  border-radius: 4px;
}

.input {
  border-radius: '4px' !important;
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.plus-button {
  background: white;
}

.input:focus-visible {
  outline: 4px solid darkorange;
  outline-offset: 10px;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0 0 0 0;
}

.plus-button:hover,
.plus-button-addMedication:hover,
.arrow-back-button:hover,
.button-medication:hover,
.event-button:hover {
  background: #eee;
  border-radius: 4px;
  z-index: 99;
}
.close-chat-button:hover {
  background: #FEBD40;
}

.plus-button:focus-visible,
.button-medication:focus-visible,
.arrow-back-button:focus-visible,
.plus-button-addMedication:focus-visible,
.join-chat-button:focus-visible, 
.arrow-back-button,
.event-button:focus-visible {
  outline: 4px solid darkorange;
  outline-offset: -4px;
  border-radius: 4px;
  box-shadow: 0 0 0 0;
  z-index: 99;
}

.join-chat-button:focus-visible {
  outline-offset: 4px;
  border-radius: 1.5rem;
}


button > span {
  pointer-events: none;
}
