.calendar {
  min-height: "60px";
}

.react-calendar {
    border-radius: 10px !important;
    margin: auto;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
  font-weight: bold;
}

.react-calendar__tile--active {
  background-color: rgb(250,67,195) !important;
  border-radius: 20px !important;
}

.react-calendar__tile--now {
  background: rgb(251, 205, 237);
  border-radius: 20px !important;
}

@media (min-width:769px) {
  .react-calendar {
    max-width: 90%;
  }
  .react-calendar__navigation button {
    min-width:5px;
    background: none;
}
.react-calendar__month-view{
  font-size: x-small;
}

.react-calendar__tile{
  font-size: x-small;
}
  }