@media (min-width:934px) {
  .shoppingTitle {
    margin-top: 0px;
  }
  }

@media screen and (min-width:934px) and (max-width:1400px) {
  .shoppingTitle {
    margin-left: 100px;
  }
  }
  
  @media screen and (min-width:768px) and (max-width:933px) {
    .shoppingTitle {
      margin-left: 120px;
    }
    }

@media screen and (min-width:0px) and (max-width:400px) {
  .shoppingTitle {
    margin-left: 100px;
  }
  }

