.task {
  background-image: url("../../images/book.gif");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position-x: 0.75rem;
  min-height: "60px";
}


@media  (min-width:1167px) {
  .medicationTitle {
    margin-left: 30px;
  }
  }