:root {
  --color-bg: #ffffff;
  --color-surface: #ffffff;
  --color-surface-hover: #eeeeee;
  --color-text: #000000;
  --color-text-muted: rgb(187, 187, 179);
  --color-border: #000000;
}

[data-theme="dark"] {
  --color-bg: #121212;
  --color-surface: #1e1e1e;
  --color-surface-hover: #2c2c2c;
  --color-text: #f5f5f5;
  --color-text-muted: #9a9a9a;
  --color-border: #3a3a3a;
}
